a:link {
    text-decoration: none;
}
  
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

/* --- Directory Component --- */
/* NavBar */
.navBar {
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0%;
    width: 100%;
    overflow: hidden;
    text-align: center;
    background-color: rgb(255, 255, 255);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.navBarL {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.nlL{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.navBarL li {
    display: flex;
    align-items: center;
}
.navBarL a,
.navBarL button {
    text-decoration: none;
    color: #000000;
    padding: 15px 20px;
    font-size: 18px;
    font-weight: bold;
    background: none;
    border: none;
    cursor: pointer;
}
.navBarL a:hover,
.navBarL button:hover {
    background-color: rgba(239, 236, 236, 0.7);
    border-radius: 5px;
    color: #000000;
}

/* Cart Icon and Count */
.cart-link {
    position: relative;
    display: flex;
    align-items: center;
}

.cart-icon {
    font-size: 24px;
    color: black;
}

.cart-count {
    position: absolute;
    top: 5px; 
    right: -8px;
    background-color: white;
    color: rgb(73, 73, 73);
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
    font-weight: bold;
}

/* Account Icon */
.account-link {
    position: relative;
    display: flex;
    align-items: center;
}

.account-icon {
    font-size: 24px;
    color: black;
}

/* --- Products Component --- */
/* Search Bar */
.search-bar-container {
    width: 100%;
    height: 375px;
    background-image: url(https://www.datocms-assets.com/55010/1685067682-1684960794-dd.jpg?auto=format%2Ccompress&cs=srgb);
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -155px;
}
.searchBar {
    text-align: center;
    justify-content: center;
    margin-top: 10px;
    font-family: monospace;
    font-size: xx-large;
    color: white;
}
.sBar {
    width: 100%;
    max-width: 500px;
    padding: 10px 10px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 25px;
    outline: none;
    transition: border-color 0.3s;
    background-color: rgb(238, 243, 247);
    background-color: rgb(238, 243, 247);
}
.sBar:focus {
    border-color: #000;
}

/* Products - All */
.contentWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 75px;
    margin-bottom: 75px;
}
.product-list-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
}
.productWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    margin: 30px;
    margin-bottom: 25px;
    height: 450px;
    width: 275px;
}
.product-list {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
    height: 300px;
    width: 200px;
    text-align: center;
}
.card-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 250px;
    width: 200px;
    overflow: hidden; 
    transition: transform 0.3s ease-in-out; 
}
.cardCoverImg {
    align-items: center;
    height: 100%;
    width: auto;
    object-fit: cover;
    transition: transform 0.3s ease-in-out; 
}
.card-image-container:hover .cardCoverImg {
    transform: scale(1.1); 
}
.cardName {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: medium;
    height: 30px;
}
.cardDesigner {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: medium;
    color: black;
    margin-top: 30px;
}
.cardPrice {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: medium;
    color: black;
    font-weight: lighter;
}
.buttonWrapper {
    justify-content: center;
    align-items: center;
    margin-top: 0%;
}
.border_button {
    height: 25px;
    width: 209px;
    background-color: black;
    color: white;
    border: none;
    box-shadow: none;
    cursor: pointer;
}
/* Pagination for Products */
.pagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.pagination-buttons{
    display: flex;
    flex-direction: row;
    padding-left: 0px;
    padding-right: 25px;
}

.page-link{
    background-color: white;
    border: none;
    color: black;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.previous {
    background-color: white;
    color: black;
    font-size: medium;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
  
.next {
    background-color:white;
    color: black;
    font-size: medium;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Products - Individual */
.singleProductWrapper {
    padding: 40px;
    margin-left: 20px;
    margin-right: 20px;
    height: 680px;
}
.single-product-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.single-product-description {
    width: 400px;
    justify-content: center;
    align-content: center;
    text-align: center;
}
.sPdesigner {
    text-align: center;
}
.sPdescription {
    padding: 10px;
    justify-content: center;
    text-align: center;
}
.single-image-container {
    padding: 10px;
}
.single-image {
    height: 700px;
    width: auto;
}
.qntySingle{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
.qnty{
    border-width: 2px;
    width: 40px;
}
.backBtn {
    height: 25px;
    width: 209px;
    background-color: black;
    color: white;
    border: none;
    box-shadow: none;
    cursor: pointer;
}

/* --- Account Component--- */
/* Login Page */
.login-page {
    display: flex;
    margin: 250px;
    justify-content: center;
    text-align: center;
}
.login-form {
    justify-content: center;
    padding: 10px;
}
.form-group {
    border: black;
    border-radius: 0%;
    box-shadow: white;
}
.form-control {
    background-color: white;
    height: 25px;
    width: 200px;
}
.login-button {
    height: 25px;
    width: 209px;
    background-color: black;
    color: white;
    border: none;
    box-shadow: none;
}
.form-submission {
    margin-top: 10px;
}


/* --- Register Page --- */
.register-page {
    display: flex;
    margin: 200px;
    justify-content: center;
    text-align: center;
}
.register-form {
    justify-content: center;
    padding: 10px;
}
.form-group {
    border: black;
    border-radius: 0%;
    box-shadow: white;
}
.form-control {
    background-color: white;
    height: 25px;
    width: 200px;
}
.submit-btn {
    height: 25px;
    width: 209px;
    background-color: black;
    color: white;
    border: none;
    box-shadow: none;
}
.form-submission {
    margin-top: 10px;
}


/* --- Cart Page --- */
.cart-page {
    padding: 80px 20px 20px 20px;
    text-align: center;
}
  
.cart-items {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
  
.cart-item-image {
    height: 100px;
    width: auto;
    margin-right: 20px;
}
  
.cart-item-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.cart-item-details input[type="number"] {
    width: 60px;
    margin-left: 10px;
}
  
.cart-button, .remove-button, .view-button {
    height: 25px;
    width: 209px;
    background-color: black;
    color: white;
    border: none;
    box-shadow: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0;
}

.remove-button {
    width: auto; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.remove-button svg {
    font-size: 16px; 
}

.cart-button:hover, .remove-button:hover, .view-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.cart-total {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}


/* ---  Home Page  --- */
.container {
    text-align: center;
    padding: 20px;
    position: relative;
    margin-top: 50px;
}
  
.background-image {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 20px;
}
.background-image-b {
    width: 100%;
    height: auto;
    display: block;
    /* margin-bottom: 10px; */
}
.navigation {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.navigation {
    display: grid;
    gap: var(--size-3);
    grid-auto-flow: column;
    grid-auto-columns: 21%;
    overflow-x: auto;
}
  
.nav-item {
    position: relative;
    margin: 10px;
    width: 150px; 
    text-align: center;
    justify-content: space-around;
}
  
.nav-image {
    width: auto; 
    height: 250px;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out; 
}
.nav-image:hover {
    transform: scale(1.1); 
}
  
.nav-text {
    margin-top: 10px;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
    font-size: 16px; 
}
  
.button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5); 
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}

.bottomHome{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
    color: #c5c5c5;
}

/* --- Blog Component --- */
/* Blog Page */
.blogPageWrapper {
    margin: 20px;
    padding: 10px;
}
.blogPageContainer {
    margin: 10px;
}
.blogheading {
    width: 1325px;
    height: 100px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.bHT {
    text-align: center;
    margin: 10px;
    margin-top: 50px;
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    font-weight: 100;
    color: #3b3b3b;
}
.bCardList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 1305px;
}
.bCard {
    width: 400px;
    height: 600px;
    margin-top: 120px;
}
.bCardL {
    width: 600px;
    height: 400px;
    margin-top: 30px;
    margin-bottom: 30px;
}

/*  Blog Card  */
.blogCardWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 55px;

}

/* Larger Blog Cards */
.blogCardL {
    margin-bottom: 300px;
    padding: 5px;
    height: 650px;
    width: 600px;
    color: black;
}
.blogCardImgL {
    height: auto;
    width: 600px
}
.blogCardBodyL {
    align-items: center;
    text-align: center;
    width: 600px;
}
.bCBHeading {
    flex-direction: row;
    width: 600px;
    height: 70px;
    text-align: center;
}
.bCBTitleL {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    color: #3b3b3b;
    text-align: center;
}
.bCBTextL {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    color: #3b3b3b;
    width: 600px;
    text-align: center;
}
.blogCard {
    margin: 10px;
    padding: 5px;
    height: 590px;
    width: 390px;
    color: black;
}

/* Smaller Blog Cards */
.blogCardImg {
    height: 500px;
    width:auto
}
.blogCardBody {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 350px;
}
.bCBTitle {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    color: #3b3b3b;
}
.bCBText {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    color: #3b3b3b;
}


/* --- Account Component --- */
/* Account Page */
.account-page{
    justify-content: center;
    margin: 75px;
}
.accountWrapper{
    padding: 5px;
}
/* Account Details */
.accountDetailsWrapper{
    margin-top: -5px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #3b3b3b;
    text-align: left;
}
/* Order Details */
.contentOrder{
    margin-top: -45px;
}
.orderHistory{
    display: inline;
    height: 100px;
    font-family: 'Times New Roman', Times, serif;
    color: #3b3b3b;
    text-align: left;
}
.orderHistoryT{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    color: #3b3b3b;
    text-align: left;
}
.orderItemsWrapper{
    display: flex;
    flex-direction: column;
    margin-top: -20px;
}
.orderHistoryProducts{
    display: flex;
    justify-content: space-between;
}
.orderHPContent{
    margin-right: 50px;
    padding: 10px;
}
.orderProductImage{
    height: 120px;
    width: auto;
}
.cart-total{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    color: #3b3b3b;
    text-align: right;
}