/* --- Directory Component --- */
/* NavBar */
.navBar {
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0%;
    width: 100%;
    overflow: hidden;
    text-align: center;
    background-color: rgb(255, 255, 255);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.navBarL {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}
.navBarL li {
    display: flex;
    align-items: center;
}
.navBarL a,
.navBarL button {
    text-decoration: none;
    color: #000000;
    padding: 15px 20px;
    font-size: 18px;
    font-weight: bold;
    background: none;
    border: none;
    cursor: pointer;
}
.navBarL a:hover,
.navBarL button:hover {
    background-color: rgba(239, 236, 236, 0.7);
    border-radius: 5px;
    color: #000000;
}


/* --- Products Component --- */
/* Search Bar */
.search-bar-container{
    padding: 10px;
    width: 400px;
}
.searchBar{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;
}
.sBar{
    border-color: rgb(224, 224, 224);
}

/* Products - All */
.contentWrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 75px;
    margin-bottom: 75px;
}
.product-list-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
}
.productWrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    margin: 30px;
    margin-bottom: 25px;
    height: 450px;
    width: 275px;
}
.product-list {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
    height: 300px;
    width: 200px;
    text-align: center;
}
.card-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 250px;
    width: 200px;
}
.cardCoverImg {
    align-items: center;
    height: 100%;
    width: auto;
    object-fit: cover;
}
.cardName{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    height: 30px;
}
.cardDesigner{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    color: black;
}
.cardPrice{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    color: black;
    font-weight: lighter;
}
.buttonWrapper{
    justify-content: center;
    align-items: center;
    margin-top: 0%;
}
.border_button{
    height: 25px;
    width: 209px;
    background-color: black;
    color: white;
    border: none;
    box-shadow: none;
}

/* Products - Individual */
.singleProductWrapper{
    padding: 40px;
    margin-left: 20px;
    margin-right: 20px;
    height: 680px;

}
.single-product-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.single-product-description{
    width: 400px;
    justify-content: center;
    align-content: center;
    text-align: center;
}
.sPdesigner{
    text-align: center;
}
.sPdescription{
    padding: 10px;
    justify-content: center;
    text-align: center;
}
.single-image-container{
    padding: 10px;
}
.single-image{
    height: 95%;
    width: 300px;
}


/*  --- Account Component--- */
/* Login Page */
.login-page{
    display: flex;
    margin: 250px;
    justify-content: center;
    text-align: center;
}
.login-form{
    justify-content: center;
    padding: 10px;
}
.form-group{
    border: black;
    border-radius: 0%;
    box-shadow: white;
}
.form-control{
    background-color: white;
    height: 25px;
    width: 200px;
}
.login-button{
    height: 25px;
    width: 209px;
    background-color: black;
    color: white;
    border: none;
    box-shadow: none;
}
.form-submission{
    margin-top: 10px;
}

/* Register Page */
.register-page{
    display: flex;
    margin: 200px;
    justify-content: center;
    text-align: center;
}
.register-form{
    justify-content: center;
    padding: 10px;
}
.form-group{
    border: black;
    border-radius: 0%;
    box-shadow: white;
}
.form-control{
    background-color: white;
    height: 25px;
    width: 200px;
}
.submit-btn{
    height: 25px;
    width: 209px;
    background-color: black;
    color: white;
    border: none;
    box-shadow: none;
}
.form-submission{
    margin-top: 10px;
}